<article>
<h1>Edit Post</h1>

<form method="POST" action="/guest/update/{{_id}}">
  <div>
    <label for="content">Content:</label>
    <textarea name="content" id="content" rows="4" cols="20">{{content}}</textarea>
  </div>
  <button type="submit">Save Changes</button>
</form> 
</article>