<div class="center">
  <h1>Login</h1>
  <form method="post" action="../login">
    {{messages}}
    <div class="txt_field">
      <label for="email">Username</label>
      <input type="text" id="email" name="email" placeholder="example@gmail.com" required>
    </div>

    <div class="txt_field">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="password">Forgot Password</div>
    <button type="submit">Log in</button>
    <div class="create_account">Don't have an account <a href="../registration">Signup</a></div>
    <div class="create_account">Don't have an account <a href="../guest">Continue to the main page</a></div>
  </form>
</div>