<div class="forgot-password-form-main-area" aria-labelledby="newpassword-heading">
  <div class="new password-title">
    <h1 id="newpassword-heading">A new password</h1>
   
  </div>
  <div class="forgot-password form" role="form" aria-labelledby="forgot-password-form">
    <form id="forgot-password-form" method="post" action="../login" title="New password Form">
      <div class="forgot-password-form-row">
        <label class="forgot-password-field-lable" for="email">Email</label>
        <input class="forgot-password-field-input" type="email" id="email" name="email" placeholder="example@gmail.com" required>
      </div>
           
      <button class="sendbutton" id="sendbutton" type="submit">Send a link</button>     
    </form>
       
  </div>
  <div class="login">Log in with a new password <a href="/">Log In</a></div>
</div>